In [2]:
print("Hola, Mundo")

Hola, Mundo

In [3]:
a=8
b=5
c=a + b
print(c)

13

In [4]:
c

13

In [5]:
c?

In [6]:
import pandas as pd
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [7]:
%debug

ERROR:root:No traceback has been produced, nothing to debug.

# Markdown

_Hola_

### Cómo colocar código en markdown?


Utilice `print("Hello, World")`

Código más extenso:
``` python
a= 3
b= 5
c= a + b
print(c)
```
```js
console.log("Hello, World")
```

### Listas con Markdown

#### Ingredientes

* Harina
* Huevo
* Sal
* Agua
* Mantequilla
  - Marca X
  - Marca Y
#### Procedimiento
1. Calentar el agua
2. Mezclar la harina con la sal
    1. Mezclar ingredientes secos
    2. Mezclar ingredientes secos con liquidos

para las imagenes se utilizan el comando ![Nombre](Nombre guardado)

con HTML se hace con <img src="nombre del archivo"

Ir a [google](https://www.google.com/?hl=es)

Ir a [Markdown - inicio](#Markdown)

Ecuación de la linea recta $y$:
$$y= mx+b$$

el print se utiliza para imprimir en consola un texto/número 
su estructura es: print("Texto")

Los enteros son con int y los decimales son con float

para las potencia se utiliza el ** y para dividir se usa el %

# Introducción a python

In [1]:
# los comentarios se colocan con #

In [5]:
name="Joshua"
print("My name is "+ name)
age = 20
print ("I am " +str(age) + " years old")

My name is Joshua
I am 20 years old

In [6]:
David_height=170
Santana_height=169
Maylin_height=166
avg_height= (David_height + Santana_height + Maylin_height)/3 
print (" la estatura promedio es "+ str(avg_height) + " Cm")

 la estatura promedio es 168.33333333333334 Cm

In [8]:
total_height=0
total_height += David_height
total_height += Santana_height
total_height += Maylin_height
total_height= total_height/3
str (total_height)

'168.33333333333334'

*Expresiones Boleanas*

*==
*!=
*>=
*<=
*<
*>

# Flux Control

In [14]:
point= 39
if point >= 90 and point<100:
    print("A")
elif point>= 75 and point<90:
    print("B")
elif point>= 60 and point<75:
    print("C")
elif point >=30 and point<60:
    print("D")
else: 
    print("Nel perro")

D

In [15]:
speed= 60 #km/h
time= input ("¿Cuanto tiempo demoró?: ")
print(("Usted recorrió: ")+ str(speed*float(time))+ "km")

¿Cuanto tiempo demoró?: 20
Usted recorrió: 1200.0km

In [17]:
heights= []
male_heights=[170, 163, 178, 165]
female_heights=[166,160]
heights= male_heights + female_heights
print(heights)

[170, 163, 178, 165, 166, 160]

In [24]:
heights.append(168)
print(heights)
print(heights[::-1])

[170, 163, 178, 165, 166, 160, 168, 168]
[168, 168, 160, 166, 165, 178, 163, 170]

In [19]:
last_heights= heights[-1]
print(last_heights)

168

In [20]:
n_heights= len(heights)
print(n_heights)

7

In [22]:
range_a= range(n_heights)
print(list(range_a))

[0, 1, 2, 3, 4, 5, 6]

In [26]:
range_b=range(2,20)
print(list(range_b))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
range_c = range(5,-10, -4)
print(list(range_c))

[5, 1, -3, -7]

In [32]:
fast_foods= ["Salchipapa", "Pizza", "Hamburguesa", "Hot Dog"]
prices= [20000, 7000, 200000, 25000]
food_prices= list(zip(fast_foods, prices))
print(food_prices)

[('Salchipapa', 20000), ('Pizza', 7000), ('Hamburguesa', 200000), ('Hot Dog', 25000)]

In [33]:
print(food_prices[0][1])

20000

In [34]:
names= ["Garavito", "Santana", "Joshua", "Zabala", "JP"]
for name in names: 
    print(name)

Garavito
Santana
Joshua
Zabala
JP

In [37]:
for i in range (len(names)): 
    print(names[i])

Garavito
Santana
Joshua
Zabala
JP

In [41]:
counter = 5
while counter<15:
    print(counter)
    counter += 1

5
6
7
8
9
10
11
12
13
14

In [43]:
m= 3
b= -5
x= [-1, 3, 2, -4, 10, 15, -8, 0]
# y= mx + b
y= [m*xi + b for xi in x]
print(y)

[-8, 4, 1, -17, 25, 40, -29, -5]

Determine cúantos números de una lista debe contar hasta sumar en orden un valor ingresado por el usuario

Probando para ver si se actualiza el github

hola
hola
hola

como estas?